

.register--container{
      background: url('./nai2.jpg');
    background-size: cover;
     
  width: 100%;
  /* margin: 100px auto; */

  border-radius: 4px;
  text-align: center;
  padding: 20px;
  height: 100vh;
  font-size: 20px;

}
.already-have-account{
  font-size: medium;
}
.register--form{
   
    background: hsla(0, 0%, 100%, 0.5);
    width: 470px;
    margin:  auto;
    height: 50vh;
      box-sizing: border-box;
}
.error-message{
  color: #fc0804;
}
.input--field{
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
}
.submit--field{
    height: 40px;
    width: 40%;
     border-radius: 5px;
     cursor: pointer;
     font-weight: bold;
     font-size: 14px;
}
input{
    text-align: center;
}